/* дизайн */
p {
  background-color: #eee;
}
dialog::backdrop {
  background: rgba(21, 23, 25, 1);
}
.ubuntu-sans-font {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
@font-face {
    font-family: 'fx300_angularregular';
    src: url('fx300_angular-webfont.woff2') format('woff2'),
         url('fx300_angular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* навигация */
  body {margin: 0;}
  ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
  }
  ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
  }
  @media screen and (max-width: 900px) {
    ul.sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    ul.sidenav li a {
      float: left;
      padding: 15px;
    }
    div.content {margin-left: 0;}
  }
  @media screen and (max-width: 400px) {
    ul.sidenav li a {
      text-align: center;
      float: none;
    }
  }

/* отступы */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
thead th:nth-child(1) {
  width: 30%;
}
thead th:nth-child(2) {
  width: 20%;
}
thead th:nth-child(3) {
  width: 15%;
}
thead th:nth-child(4) {
  width: 35%;
}
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}
input {
  margin: 0.4rem;
}
th,
td {
  padding: 20px;
}
